
.homeLogo {
    max-width: 150px;
    height: auto;
}

.logout {
    height: 40px;
    width: 64px;
    border-radius: 8px;
    border: none;
    background-color:rgba(233, 236, 239, 1);
    color: rgba(134, 142, 150, 1);
    cursor: pointer;
}

.logout:hover {
    color: rgba(233, 236, 239, 1);
    background-color: rgba(134, 142, 150, 1);
}