@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

.homeHeader {
    height: 10vh;
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    background: #F8F9FA;
    border-bottom: 1px groove rgba(0, 0, 0, 0.084);
    margin-bottom: 25px;
    position: relative;


}

.homeMain {
    background-color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    margin: 0 auto;
    min-height: 60vh;
    justify-content: space-around;
    font-family: 'Nunito', sans-serif; 
    gap: 10px;
}


.form {
    display: flex;
    flex-flow: column nowrap;
    height: 420px;
    gap: 10px;
}

.listHeader {
    width: 45vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.listHeader>p {
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.filter {
    padding: 15px;
    margin-left: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #E9ECEF;
    color: #868E96;
}
.filter:focus, .filter:hover {
    background-color:#FD377E;
    color: white;
}



ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 46vw;
    height: 60vh;
    scrollbar-width: auto;
    scrollbar-color: #bcb7bd #ffffff;
    gap: 15px;
    padding: 0;
  }


  ul::-webkit-scrollbar {
    width: 16px;
  }
  

  ul::-webkit-scrollbar-track {
    background: #ffffff;
  }
  

  ul::-webkit-scrollbar-thumb {
    background-color: #bcb7bd;
    border-radius: 10px;
    border: 3px solid #ffffff;
  
}

ul>li {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgba(248, 249, 250, 1);
    border-radius: 4px;
    text-align: start;
    height: 70px;
}

ul>li>.info>.infoDes {
    font-weight: bold;
    font-size: 16px;
    color: rgba(33, 37, 41, 1);
    margin: 0 0 10px 0;
}

ul>li>.totalDel {
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: rgba(33, 37, 41, 1);
    font-weight: bold;
}
ul>li>.totalDel>button {
    border: none;
    background-color: transparent;
    height: 25px;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
ul>li>.totalDel>button>img {
    width: 15px;
    height: auto;
}

ul>li>.totalDel>button:hover {
    background-color: rgb(229, 231, 233);
}

ul>.in {
    border-left: 4px solid rgba(3, 184, 152, 1);
}

ul>.out {
    border-left: 4px solid rgba(233, 236, 239, 1);
}

@media screen and (max-width: 900px) {
    html {
        overflow-x: hidden;
    }
    .homeMain {
        margin: 5px;
        flex-flow: column wrap;
    }
  

    .listSection {
       width: 100vw;
    }
    ul {
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        overflow-y: scroll;
        width: 100vw;
        height: 60vh;
        scrollbar-width: auto;
        scrollbar-color: #bcb7bd #ffffff;
        gap: 15px;
        padding: 0;
      }

    ul>li {
        padding: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        background-color: rgba(248, 249, 250, 1);
        border-radius: 4px;
        text-align: start;
        height: 70px;
        width: 90%;
    }
    .listHeader {
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .listHeader>.filters {
        display:flex;
        flex-flow: row nowrap;
    }
}